@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
    font-family: 'PT Sans' !important;
}

input.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}

input.rounded:focus {
	border-color: #339933;
}

.button {
    width: 100%;
}

.daily-expense-form {
    background-color: #eff0f1 !important;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

